@{ 
    ViewBag.Title = "Add Student";
}

<form class="form-horizontal" name="addForm" novalidate>
    <h3> @ViewBag.Title - {{lastName + ' ' + firstName}}</h3>
    <div class="form-group">
        <label for="stdId" class="col-sm-2 control-label">Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="stdId" placeholder="Id" name="stdId"
                   ng-model="newStudent.studentId" ng-required="true" ng-maxlength="3" ng-pattern="/^\d{3}$/" ng-trim="false" 
                   ng-model-options="{ updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                   data-pv-unique= "{key: newStudent.studentId, property: 'studentId'}" />
            
            <div ng-messages="addForm.stdId.$error" ng-if="addForm.stdId.$touched || addForm.stdId.$dirty">
                <div ng-message="required">Id is required.</div>
                <div ng-message="pattern">Must be 3 digit number.</div>
                <div ng-message="maxlength">Maximum length must be 3 digits.</div>
                <div ng-message="unique">Id must be unique</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="stdFirstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="stdFirstName" placeholder="First Name" name="stdFirstName"
                   ng-model="newStudent.firstName" ng-required="true" ng-maxlength="20" ng-pattern="/^[a-zA-Z\s]+$/"/>
            <div ng-messages="addForm.stdFirstName.$error" ng-if="addForm.stdFirstName.$touched || addForm.stdFirstName.$dirty">
                <div ng-message="required">First Name is required.</div>
                <div ng-message="pattern">Characters with spaces only are allowed.</div>
                <div ng-message="maxlength">Maximum of 20 characters are allowed.</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="stdLastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="stdLastName" placeholder="Last Name" name="stdLastName"
                   ng-model="newStudent.lastName" ng-required="true" ng-maxlength="20" ng-pattern="/^[a-zA-z\s]+$/"/>
            <div ng-messages="addForm.stdLastName.$error" ng-if="addForm.stdLastName.$dirty || addForm.stdLastName.$touched">
                <div ng-message="required">Last Name is required.</div>
                <div ng-message="pattern">Characters with spaces only are allowed.</div>
                <div ng-message="maxlength">Maximum of 20 characters are allowed.</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="stdEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="stdEmail" placeholder="Email" name="stdEmail" 
                   ng-model="newStudent.email" ng-required="true" ng-maxlength="50" ng-trim="false" 
                   ng-model-options="{ updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                   data-pv-unique= "{key: newStudent.studentId, property: 'email'}"  />
            <div ng-messages="addForm.stdEmail.$error" ng-if="addForm.stdEmail.$touched || addForm.stdEmail.$dirty">
                <div ng-message="required">e-mail is required.</div>
                <div ng-message="email">e-mail address is invalid.</div>
                <div ng-message="maxlength">Maximum of 50 characters are allowed.</div>
                <div ng-message="unique">e-mail must be unique</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="stdPhone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="stdPhone" placeholder="Phone" name="stdPhone"
                   ng-model="newStudent.phone" ng-required="true" ng-maxlength="10" ng-pattern="/^\d{10}$/" ng-trim="false"/>
            <div ng-messages="addForm.stdPhone.$error" ng-if="addForm.stdPhone.$touched || addForm.stdPhone.$dirty">
                <div ng-message="required">Phone is required.</div>
                <div ng-message="pattern">Must be 10 digit number.</div>
                <div ng-message="maxlength">Maximum of 10 digits phone number.</div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" ng-click="create()" ng-disabled="addForm.$invalid">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>